@import 'colors';
.border {
    border: 1px solid $color-natural;
}

.labeled-input {
    // display: flex;
    .label {
        color: $color-info;
        font-weight: bold;
        padding: .4em;
    }
    input {
        display: block;
        width: 100%;
    }
}

.txt-no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}