@import 'colors';
.border {
    border: 1px solid $color-natural;
}

.labeled-input {
    // display: flex;
    .label {
        color: $color-info;
        font-weight: bold;
        padding: .4em;
    }
    input {
        display: block;
        width: 100%;
    }
}

.txt-no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

 ::-webkit-scrollbar {
    display: none;
}

.file-icon {
    width: 1em;
    height: 1em;
}

.btn {
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: $color-natural;
    border: none;
    outline: none;
    opacity: .5;
    text-decoration: none;
    &:hover {
        opacity: 1;
    }
}

.info,
.info[data-title]:before {
    color: $color-info;
}

.warn,
.warn[data-title]:before {
    color: $color-warn;
}

.err,
.err[data-title]:before {
    color: $color-err;
}

.del {
    text-decoration: line-through;
}