$color-border:#646464;
$color-err:#F58E8E;
$color-natural:#A9D3AB;
$color-warn:#FED37E;
$color-info:#7AABD4;
$color-06:#D6ADD5;
$color-07:#79D4D5;
$color-08:#D4D4D4;
// $color-bg:#2D2D2D;
// $color-fg:#D4D4D4;
$color-bg:lighten(#2D2D2D, 5%);
$color-fg:#D4D4D4;