@import 'colors';
@import 'classes';
#statusbar {
    display: flex;
    flex-shrink: 0;
    padding: .1em 0;
    border-top: 3px solid $color-border;
}

#statusbar-msgs {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: 90%;
    padding-right: 1em;
    overflow: hidden;
    .msg {
        cursor: default;
        flex-shrink: 0;
        border-right: 1px solid $color-border;
        padding: 0 .5em;
        &:last-child {
            border-right: none;
        }
    }
}

#buttons {
    display: flex;
    flex-shrink: 0;
    font-size: 120%;
    .btn {
        padding-right: .5em;
    }
}