@import 'colors';
table {
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-image: linear-gradient($color-border, $color-bg);
}

th,
td {
    padding: .1em .2em;
    &:first-child {
        padding-left: .5em;
        padding-right: 1.5em;
    }
    &:last-child {
        padding-right: .5em;
    }
}