@import 'colors';
#statusbar {
    display: flex;
    flex-shrink: 0;
    padding: .1em .5em
}

#statusbar-msg {
    flex-grow: 1;
    font-size: 90%;
    display: flex;
    align-items: center;
    &.info {
        color: $color-info;
    }
    &.warn {
        color: $color-warn;
    }
    &.err {
        color: $color-err;
    }
}

#buttons {
    font-size: 120%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    .btn {
        padding-left: .5em;
    }
}