@import 'colors';
@import 'theme-table';
@import 'theme-button';
@import 'theme-dialog';
@import 'theme-jump';
@import 'theme-input';
@import 'theme-panel';
@import 'theme-filter';
@import 'theme-statusbar';
@import 'theme-progressbar';
@import 'theme-git';
@import 'theme-console';
@import 'classes';
@font-face {
    font-family: DroidSansMono;
    src: url('../fonts/DroidSansMono.ttf');
}

body,
input,
table {
    font-family: 'DroidSansMono';
    background-color: $color-bg;
    color: $color-fg;
}

td,
#progress-txt {
    @extend .txtNoWrap
}

i.fa {
    color: $color-natural;
}

input {
    font-size: inherit;
}

.file-icon {
    width: 1em;
    height: 1em;
}