@import 'colors';
#statusbar {
    padding: .1em .5em
}

#statusbar-msg {
    font-size: 90%;
    &.info {
        color: $color-info;
    }
    &.warn {
        color: $color-warn;
    }
    &.err {
        color: $color-err;
    }
}

#buttons {
    font-size: 120%;
    .btn {
        padding-left: .5em;
    }
}