@import 'colors';
#progress-bar,
#progress-bar-complete {
    height: 3px;
}

#progress-bar {
    background-color: $color-border;
}

#progress-bar-complete {
    width: 0;
    background-color: $color-natural;
    transition: width .1s;
}