@import 'colors';
.panel {
    &[sel] {
        .title {
            background-color: $color-info;
            font-weight: bold;
        }
        tr {
            &[cur] {
                background-color: darken($color-warn, 45%);
            }
        }
    }
    tr {
        &[cur] {
            background-color: $color-border;
            font-weight: bold;
        }
        &.sel {
            background-color: darken($color-warn, 55%);
        }
    }
    .title {
        display: block;
        width: 100%;
    }
    &:first-child {
        border-right: 3px solid $color-border;
    }
}