@import 'colors';
@import 'classes';
#console {
    position: fixed;
    bottom: 2.2em;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 90%;
    color: $color-natural;
    background-color: $color-bg;
    opacity: 0.65;
    // border: 1px solid red;
    .line {
        @extend .txtNoWrap;
        padding: .1em 0;
        padding-right: .2em
    }
}