@import 'colors';
[data-title] {
    &:before {
        position: absolute;
        content: attr(data-title);
        white-space: nowrap;
        color: $color-fg;
        background-color: $color-bg;
        width: auto;
        padding: .5em;
        border: 1px solid $color-border;
        border-radius: 3px;
        transform: translate(10%, -300%);
        opacity: 0;
        visibility: hidden;
    }
    &:hover:before {
        visibility: visible;
        transition: all .3s;
        opacity: 1;
        height: auto;
        transform: translate(10%, -150%);
    }
}

#buttons {
    [data-title] {
        &:before {
            transform: translate(-60%, -300%);
        }
        &:hover:before {
            transform: translate(-60%, -120%);
        }
    }
}