@import 'colors';
[data-title] {
    &:before {
        position: absolute;
        content: attr(data-title);
        white-space: nowrap;
        color: $color-fg;
        background-color: $color-bg;
        width: auto;
        padding: .5em;
        border: 1px solid $color-border;
        border-radius: 3px;
        transform: translate(1em, -3.5em);
        opacity: 0;
        visibility: hidden;
    }
    &:hover:before {
        visibility: visible;
        transition: all .2s;
        opacity: 1;
        height: auto;
    }
}

#statusbar-buttons {
    [data-title] {
        &:before {
            font-size: 80%;
            transform: translate(-3em, -3em);
        }
        &:hover:before {}
    }
}