@import 'colors';
.autocomplete-suggestions {
    text-align: left;
    border: 1px solid $color-natural;
    border-top: 0;
    background: $color-bg;
    position: absolute;
    z-index: 9999;
    box-sizing: border-box;
    font-size: 90%;
}

.autocomplete-suggestion {
    position: relative;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-fg;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: $color-info;
}

.autocomplete-suggestion.selected {
    background: $color-border
}