.header {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.content {
    max-width: 1000px;
    margin: auto;
}

#ss {
    margin: 20px 0;
}

#download {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 120%;
}

section {
    margin: 4em 0;
    &.special {
        margin: 14em 0;
    }
}

div.cols {
    display: flex;
    &.center {
        align-items: center;
    }
}

.cols {
    .col:first-child {
        margin-right: 1em;
    }
}

section:nth-child(even) .cols {
    flex-direction: row-reverse;
    .col:first-child {
        margin-left: 1em;
    }
}

div.col {
    flex-basis: 50%;
    flex-grow: 1;
    &.img {
        flex-basis: 600px;
        flex-shrink: 0;
    }
}

div.col:last-child {
    margin-right: 0;
}