@import 'colors';
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    thead {
        background-color: $color-info;
        font-weight: bold;
        th {
            padding: .3em;
        }
    }
    tr {
        &:nth-child(even) {
            background-color: $color-tr-even;
        }
        &.sep {
            text-transform: capitalize;
            background-color: $color-bg;
            font-weight: bold;
            th {
                padding: 1em 0;
            }
        }
    }
    td {
        font-size: 85%;
        padding: 5px;
    }
    &.shortcuts {
        td {
            &:first-child {
                width: 18em;
                font-family: monospace;
                text-transform: capitalize;
            }
        }
    }
    &#settings {
        th:first-child {
            width: 11em;
        }
        th:nth-child(2) {
            width: 15em;
        }
    }
    &#plugins {
        th:first-child {
            width: 10em;
        }
        th:nth-child(2) {
            width: 6em;
        }
        th:nth-child(4) {
            width: 10em;
        }
        td:nth-child(-n+2),
        td:nth-child(4) {
            text-transform: capitalize;
        }
    }
    &#external {
        th:first-child {
            width: 13em;
            font-family: monospace;
        }
    }
}