@import 'colors';
table {
    border-collapse: collapse;
    thead {
        background-color: $color-tr-even;
        font-weight: bold;
        th {
            padding: .3em;
        }
    }
    width: 100%;
    text-align: left;
    tr {
        &:nth-child(even) {
            background-color: $color-tr-even;
        }
    }
    td {
        font-size: 85%;
        padding: 5px;
        &.sep {
            text-transform: capitalize;
            padding: 10px 0;
            background-color: $color-bg;
            font-weight: bold;
        }
    }
    &#shortcuts {
        &:first-child {
            font-family: monospace;
            text-transform: uppercase;
        }
        &:nth-child(2) {
            text-transform: capitalize;
        }
    }
}