@import 'colors';
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    thead {
        background-color: $color-tr-even;
        font-weight: bold;
        th {
            padding: .3em;
        }
    }
    tr {
        &:nth-child(even) {
            background-color: $color-tr-even;
        }
        &.sep {
            text-transform: capitalize;
            background-color: $color-bg;
            font-weight: bold;
            th {
                padding: 1em 0;
            }
        }
    }
    td {
        font-size: 85%;
        padding: 5px;
    }
    &#shortcuts {
        td {
            &:first-child {
                font-family: monospace;
                text-transform: uppercase;
            }
            &:nth-child(2) {
                text-transform: capitalize;
            }
        }
    }
    &#plugins {
        table-layout: fixed;
        th:first-child {
            width: 5.5em;
        }
        th:nth-child(2) {
            width: 5.5em;
        }
        th:nth-child(4) {
            width: 10em;
        }
    }
}