<!DOCTYPE html>
<html>

<head>
    <title>JumpFm</title>
    <link rel="stylesheet" href="static/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="js/main.js"></script>
</head>

<body>
    <div id="app" v-bind:style="{ fontSize: fontSize + 'px' }">

        <div id='panels'>
            <!-- LEFT PANEL -->
            <div class="panel" :sel="panels.active == 0">
                <div class="title">{{panels.a.title}}</div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Date Modified</th>
                        </tr>
                    </thead>
                    <tbody id="tbody0">
                        <tr v-for="(file, i) in panels.a.getItems()" v-bind:class="{
                                sel : file.sel, 
                                cur : i == panels.a.getCur()
                            }">
                            <td>
                                <img class='file-icon' :src='file.icon' />
                            </td>
                            <td>{{file.name}}</td>
                            <td>{{file.size | fileSize}}</td>
                            <td>{{file.mtime | formatDate}}</td>
                        </tr>
                    </tbody>
                </table>
                <input v-model="panels.a.filter" id="filter0" class="filter" placeholder="Filter Files" />
            </div>
            <!-- /LEFT PANEL -->
        </div>

        <!-- DIALOG -->
        <div id='dialog'>
            <div class='labeled-input border'>
                <div class='label'>{{dialog.label}}:</div>
                <input id="dialog-input" type="text" />
            </div>
            <div>
                <ol id='dialog-sug' class='border'>
                    <li v-for="(sug, i) in dialog.sug" :cur="i == dialog.cur" v-html="sug.html" class="txt-no-wrap" />
                </ol>
            </div>
        </div>
        <!-- /DIALOG -->
    </div>
</body>